
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex">
      <img class="rounded-circle account-img img-fluid" src="{{url_for('static', filename='imagenes_perfil/'+usuario.imagen_perfil)}}" />
      <div >
        <h1 class="mt-5 account-heading">{{usuario.username}}</h1>
        <div class="d-flex justify-content-center">
        <div class="dropdown mt-2">
          <button
            class="btn btn-outline-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Todas las imagenes
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Repositorios de imagenes</a></li>
          </ul>
        </div>
        {% if current_user == usuario %}
        <a href="{{url_for('usuarios.perfil')}}" class="btn btn-outline-primary mt-2 ms-3">Editar perfil</a>
        {% endif %}
      </div>
      </div>
    </div>

<div class="row">
{% for imagen in imagenes.items %}
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 mt-5">
  <a href="{{url_for('imagenes.imagen', id_imagen = imagen.id)}}">
  <img
    src="{{url_for('static', filename='imagenes_subidas/'+imagen.ubicacion_imagen)}}"
    class="w-100 shadow-1-strong rounded mb-2"
    
  />
</a>
 <div class="d-flex justify-content-between mb-2">
  <div> <caption> Publicado por: <a href="{{url_for('usuarios.perfil_usuario', usuario=imagen.autor.username)}}">{{imagen.autor.username}}</a></caption></div><caption class="text-end">{{imagen.fecha_publicacion.strftime('%Y-%m-%d')}}</caption>
</div>
  <caption>Etiquetas:</caption>

  {% for etiquetas in imagen.etiquetas %}
  <a href="{{url_for('imagenes.imagenes_etiqueta', etiqueta=etiquetas.nombre)}}" class="bg-primary text-white rounded p-1 me-1">{{etiquetas.nombre}}</a> 
  {% endfor %}

</div>
{% endfor %}


<div class="margin-top-8">
    
    {% for num_pagina in imagenes.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current=2) %}
    {% if num_pagina %}
            {% if imagenes.page == num_pagina %}
            <a href="{{url_for('usuarios.perfil_usuario', usuario = usuario.username, pagina=num_pagina )}}" class="btn btn-success mb-4">{{num_pagina}}</a>
            {% else %}
            <a href="{{url_for('usuarios.perfil_usuario', usuario = usuario.username, pagina=num_pagina)}}" class="btn btn-outline-success mb-4">{{num_pagina}}</a>
            {% endif %}
    {% else %}
    ...
    {% endif %}
  {% endfor %}

</div>
</div>
{% endblock content %}