{% extends "layout.html" %} {% block content %}
<div class="d-flex">

  <button
  href="#"
  class="btn btn-primary btn-sm m-1 justify-content-end"
  data-mdb-toggle="modal"
  data-mdb-target="#modalAgregarARepositorio"
  >
  <i class="fa fa-plus" aria-hidden="true"></i> Agregar a Repositorio
  </button>
  

{% if current_user == imagen.autor %}
    <a href="{{url_for('imagenes.editar_imagen', id_imagen = imagen.id)}}" class="btn btn-primary btn-sm mt-1 mb-1">Editar</a>
    <button
    type="button"
    class="btn btn-dark btn-sm m-1"
    data-mdb-toggle="modal"
    data-mdb-target="#modalEliminarImagen"
  >
    Eliminar
  </button>
{% endif %}


</div>
<div class="row">
  <div class="col-lg-12 w-auto">
    <img
    src="{{url_for('static', filename='imagenes_subidas/'+imagen.ubicacion_imagen)}}"
    class="shadow-1-strong rounded mb-2 img-fluid"
    
    />
    <div class=" mb-2 d-flex justify-content-between">
      <div> <caption> Publicado por: <a href="{{url_for('usuarios.perfil_usuario', usuario=imagen.autor.username)}}">{{imagen.autor.username}}</a></caption></div><caption class="text-end">{{imagen.fecha_publicacion.strftime('%Y-%m-%d')}}</caption>
    </div>
      <caption>Etiquetas:</caption>
    
      {% for etiquetas in imagen.etiquetas %}
      <a href="{{url_for('imagenes.imagenes_etiqueta', etiqueta=etiquetas.nombre)}}" class="bg-primary text-white rounded p-1 me-1">{{etiquetas.nombre}}</a> 
      {% endfor %}
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEliminarImagen"
  tabindex="-1"
  aria-labelledby="modalEliminarImagenLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminarImagenLabel">Eliminar Imagen?</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-mdb-dismiss="modal">
          Cerrar
        </button>
        <form action="{{url_for('imagenes.eliminar_imagen', id_imagen=imagen.id)}}" method="post">
            <input type="submit" value="Eliminar" class="btn btn-dark ">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Repo -->
<div
  class="modal fade"
  id="modalAgregarARepositorio"
  tabindex="-1"
  aria-labelledby="modalAgregarARepositorio"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarARepositorio">Agregar a repo</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-mdb-dismiss="modal">
          Cerrar
        </button>
        <!-- <form action="{{url_for('imagenes.eliminar_imagen', id_imagen=imagen.id)}}" method="post">
            <input type="submit" value="Eliminar" class="btn btn-dark ">
        </form> -->
      </div>
    </div>
  </div>
</div>


{% endblock content %}