{% extends "layout.html" %}
  <!-- SECCION INTRO -->
  {% block main %}
    <section id="intro">

        <div class="bg-image h-100" style="
        background-image: url(https://images.unsplash.com/photo-1443890484047-5eaa67d1d630?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
      ">
            <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0, 0.5);">
                <div class="container">
                    <p class="h2 mb-4 text-white">
                        La mejor pagina de fotografias <br>
                         compartidas por una comunidad con talento.
                    </p>
                    <div class="card">
                        <div class="card-body p-4">
                          <div class="row">
                            <div class="col-12 mb-4">
                              <div class="input-group">
                                <div class="form-outline flex-fill">
                                  <input type="search" id="form1" class="form-control form-control-lg" />
                                  <label class="form-label" for="form1">Busca imagenes</label>
                                  <div class="form-helper pt-2"><span class="font-weight-bold">Etiquetas recomendadas:</span> 
                                    <a href="#!" class="text-black-50">spring,</a>  
                                    <a href="#!" class="text-black-50">natural,</a>  
                                    <a href="#!" class="text-black-50">outdoors,</a>  
                                    <a href="#!" class="text-black-50">forest,</a>  
                                    <a href="#!" class="text-black-50">cactus,</a>  
                                    <a href="#!" class="text-black-50">flowers,</a>  
                                    <a href="#!" class="text-black-50">more</a>
                                  </div>
                                </div>
                                <button type="button" class="btn btn-primary">
                                  <i class="fas fa-search"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
<!-- FIN INTRO -->
{% endblock main %}

{% block content %}
    <div class="row">
      {% for imagen in imagenes %}
      <div class="col-lg-4 col-6 pt-2">
        <figure class="figure">
        <img src="{{imagen.ubicacion_imagen}}" class="figure-img img-fluid rounded shadow-3 mb-3 hover-shadow">
        <figcaption class="figure-caption text-center">Publicado por:  {{imagen.propietario}}</figcaption>
      </figure>
      </div>
      {% endfor %}
    </div>
{% endblock content %}

