{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex">
      <img class="rounded-circle account-img img-fluid" src="{{imagen}}" />
      <div >
        <h2 class="account-heading">{{current_user.username}}</h2>
        <p class="">{{current_user.email}}</p>
      </div>
    </div>
     <!-- FORMULARIO PARA ACTUALIZAR LA CUENTA -->
    <form action="" method="POST" class="mt-5" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
           
          <h2 class="mb-4">Informacion de tu cuenta</h2>
            <!-- USERNAME -->
          <div class="form-group form-outline mb-4">
            {% if form.username.errors %} {{ form.username(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %} {{form.username(class="form-control form-control-lg", id="username")}} 
            {{form.username.label(class="form-control-label form-label", for="username")}} {%
            endif %}
          </div>
           <!-- EMAIL -->
          <div class="form-group form-outline mb-4">
           {% if
            form.email.errors %} {{ form.email(class="form-control form-control-lg
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %} {{form.email(class="form-control form-control-lg", id="email")}}   {{form.email.label(class="form-control-label form-label", for="email")}} 
            {%endif %}
          </div>
        <!-- IMAGEN DE PERFIL -->

          <div class="form-group">
            {{form.imagen.label()}}
            {{form.imagen(class="form-control-file")}}
            {% if form.imagen.errors %}
                {% for error in form.imagen.errors %}
                <span class="text-danger">{{error}}</span><br>
                {% endfor %}
            {% endif %}
          </div>

        </fieldset>
        <!-- SUBMIT -->
        <div class="form-group mt-5 mb-5">{{form.submit(class="btn btn-primary btn-block btn-rounded")}}</div>
        
      </form>

      <button  type="button"
      class="btn btn-dark btn-block btn-rounded"
      data-mdb-toggle="modal"
      data-mdb-target="#modalEliminarCuenta">
      Eliminar Cuenta
    </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEliminarCuenta"
  tabindex="-1"
  aria-labelledby="modalEliminarCuentaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminarCuentaLabel">Seguro que deseas eliminar tu cuenta?</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Esta es una acción permanente, al eliminar tu cuenta se eliminarán todos las imagenes y repositorios que hayas creado.</p>
        <div class=" d-flex justify-content-end">
          <button type="button" class="btn btn-light" data-mdb-dismiss="modal">
            Cerrar
          </button>
          <form action="{{url_for('usuarios.eliminar_usuario', id_usuario = current_user.id)}}" method="post">
            <input type="submit" value="Eliminar" class="btn btn-dark">
          </form>
        </div>  
      </div>
    </div>
  </div>
</div>


{% endblock content %}