{% extends "layout.html" %}
{% block content %}
<form action="" method="POST" class="mt-5">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
       
      <h2 class="mb-4">Reestablecer Contraseña</h2>
      <!-- PASSWORD -->
      <div class="form-group form-outline mb-4">
        {% if
        form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %} {{form.password(class="form-control form-control-lg ")}} {{form.password.label(class="form-control-label form-label ")}}  {%
        endif %}
      </div>
      <!-- CONFIRMAR CONTRASEÑA -->
      <div class="form-group form-outline mb-4">
         {% if
        form.confirm_password.errors %} {{
        form.confirm_password(class="form-control form-control-lg is-invalid")
        }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %} {{form.confirm_password(class="form-control form-control-lg
        ")}} {{form.confirm_password.label(class="form-control-label form-label ")}} {% endif %}
      </div>
    </fieldset>
    <!-- SUBMIT -->
    <div class="form-group mt-2">{{form.submit(class="btn btn-primary btn-block btn-rounded")}}</div>
  </form>
{% endblock content %}