{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <div class="d-flex">
    <img
      class="rounded-circle account-img img-fluid"
      src="{{url_for('static', filename='imagenes_perfil/'+usuario.imagen_perfil)}}"
    />
    <div>
      <h1 class="mt-5 account-heading">{{usuario.username}}</h1>

      <div class="d-flex justify-content-start">
        <div class="dropdown mt-2 ms-0">
          <button
            class="btn btn-outline-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Repositorios de {{usuario.username}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('usuarios.perfil_usuario', usuario=usuario.username)}}"
                >Todas las imagenes</a
              >
            </li>
          </ul>
        </div>

        {% if current_user == usuario %}
        <a
          href="{{url_for('usuarios.perfil')}}"
          class="btn btn-outline-primary mt-2 ms-3"
          >Editar perfil</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      {% if current_user == usuario %}
        {% if not repositorios %}
      <div class="p-5 text-center">
        <h5>Aun no tienes repositorios</h5>
        <button
          href="#"
          class="btn btn-primary mt-1"
          data-mdb-toggle="modal"
          data-mdb-target="#modalCrearRepositorio"
        >
          <i class="fa fa-plus" aria-hidden="true"></i> Crear Repositorio
        </button>
        {% endif %}
    {% else %} 
        {% if not repositorios %}
    <div class="text-center p-5">
      <h4>Este usuario aun no tiene repositorios de imagenes</h4>
      <img
        src="{{url_for('static', filename='imagenes_error/404.png')}}"
        class="img-fluid"
        width="580"
      />
    </div>
    {% endif %}
    {% endif %}


    {% if repositorios %}
      {% for repositorio in repositorios %}
        {{repositorio.nombre_repositorio}}
      {% endfor %}
    {% endif %}

<!-- 
    <div class="p-5 text-center">
      <h5>Aun no tienes repositorios</h5>
      <button
        href="#"
        class="btn btn-primary mt-1"
        data-mdb-toggle="modal"
        data-mdb-target="#modalCrearRepositorio"
      >
        <i class="fa fa-plus" aria-hidden="true"></i> Crear Repositorio
      </button>
 
       -->
       
      </div>
    </div>
  </div>


  <!-- MODAL PARA CREAR NUEVOS REPOSITORIOS -->

  <div
    class="modal fade"
    id="modalCrearRepositorio"
    tabindex="-1"
    aria-labelledby="modalCrearRepositorioLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCrearRepositorioLabel">
            Crea un repositorio nuevo
          </h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
        
          <form action="" method="POST">
          {{form.hidden_tag()}}
          <fieldset class="form-group">
             <!-- Nombre del Repositorio -->
            <div class="form-group form-outline mb-4">
              {% if form.nombre_repositorio.errors %} {{ form.nombre_repositorio(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.nombre_repositorio.errors %}
                <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %} {{form.nombre_repositorio(class="form-control form-control-lg", id="nombre_repositorio")}} 
              {{form.nombre_repositorio.label(class="form-control-label form-label", for="nombre_repositorio")}} {%
              endif %}
            </div>
            <!-- DESCRIPCION -->
              <div class="form-group form-outline mb-4">
                {% if
                form.descripcion_repositorio.errors %} {{ form.descripcion_repositorio(class="form-control
                form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.descripcion_repositorio.errors %}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                {% else %} {{form.descripcion_repositorio(class="form-control form-control-lg", id="descripcion_repositorio")}} 
                
                {{form.descripcion_repositorio.label(class="form-control-label form-label", for="descripcion_repositorio")}} 

                {% endif %}
              </div>
              </fieldset>
             <!-- SUBMIT -->
           <div class="form-group mt-1 mb-1">{{form.submit(class="btn btn-primary btn-block btn-rounded")}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
