{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-6 fullpage">
            <div class="bg-image h-100" style="
            background-image: url(https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1876&q=80);
          ">
            <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0, 0.5);">
                </div>
          </div>
        </div>
        <div class="col-6">

        </div>
    </div>
{% endblock content %}