@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#intro {
    height: 80vh;
  }
.content{
    padding: 5% 7%;
}
.formulario-registro{
  height: 100vh;
}
.formulario-registro .bg-image {
    background-image: url('https://images.unsplash.com/photo-1622398808270-71a3f6c425ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1834&q=80');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

.bg-image-login{
    background-image: url('https://images.unsplash.com/photo-1625242444361-38420b11f107?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.img-center{
  object-fit: cover;
}

.bg-green{
  background-color: #3cb46e;
}

.margin-top-8{
  margin-top: 8%
}

.circular {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}